* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.search-body {
  background-color: #f5f5f5;
  margin: 0;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.search-search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: absolute;
  top: 10px;
  z-index: 1;
}

.search-input[type="text"] {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-button {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.search-ul {
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 70px;
  z-index: 1;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}

.search-li {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.search-a {
  text-decoration: none;
  color: #007BFF;
}

.search-a:hover {
  text-decoration: underline;
}

.search-map {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
